{%extends 'viewTemplate.html'%}
{% block iteratorblock %}

 
<div class="col-lg-14" id="result-bar">
  <div class="col-lg-10" id="heading">
    <h1> Results for Hostel</h1>
  </div>
 
  {% if ads %}
      {% for ad in ads %}
     
          <a href="{{ad.id}}/" id="block">
          <div class="col-lg-10 result even">
          <h4> <b> Location :  {{ad.location}} </h4>
          <h5><b>No of available roommate :</b> {{ad.available_roommate}}   </h5>
          <h5><b>Rent :</b> {{ad.rent}}  </h5>
          
          </div>
          </a>
          
        
      {% endfor %}
    {% endif %} 
  </div>

{% endblock %}

























