{% extends 'base.html' %}
{% load staticfiles %}


{% block bodyblock %}
<div class="container-fluid" id="pg-view">
  <div class="row" id="up-row">
    <div class="col-lg-2">
      
    </div>
    <div class="col-lg-8" id="up-center">
      <a href="rental/apartment/"><div class="col-lg-4" id="apartment">
        <h2 class="title">APARTMENT</h2>
      </div></a>
      <a href="rental/hostel/"><div class="col-lg-4" id="mess">
        <h2 class="title">MESS</h2>
      </div></a>
      <a href="rental/sublet/"><div class="col-lg-4" id="sublet">
        <h2 class="title">SUBLET</h2>
      </div></a>
    </div>
    <div class="col-lg-2">
      
    </div>
  </div>
  <div class="row" id="low-row">
    <div class="col-lg-2">
      
    </div>
    <div class="col-lg-8" id="low-center">
      <a href="rental/garage/"><div class="col-lg-4" id="garage">
        <h2 class="title">GARAGE</h2>
      </div></a>
      <a href="rental/convention-centre/"><div class="col-lg-4" id="convention">
        <h2 class="title">CONVENTION CENTRE</h2>
      </div></a>
      <a href="rental/office-space/"><div class="col-lg-4" id="off-space">
        <h2 class="title">OFFICE SPACE</h2>
      </div></a>
    </div>
    <div class="col-lg-2">
      
    </div>
  </div>
</div>

    
{% endblock %}



