{% extends 'base.html' %}




{% block bodyblock %}




<p>Select a category to post ad</p>

<div class="w3-bar w3-border w3-light-grey w3-center">

  <a href="#" style="width:100%" class="w3-bar-item w3-button w3-mobile w3-gray"> </a>
  <a href="/post-ad/apartment/" style="width:50%" class="w3-bar-item w3-button w3-mobile w3-teal">Apartment </a>
  <a href="/post-ad/hostel/" style="width:100%" class="w3-bar-item w3-button w3-mobile w3-gray">Mess </a>
  
  <a href="/post-ad/sublet/" style="width:100%" class="w3-bar-item w3-button w3-mobile w3-gray">Sublet </a>
  
  <a href="#" style="width:100%" class="w3-bar-item w3-button w3-mobile w3-gray"> </a>
  <a href="/post-ad/office/" style="width:50%" class="w3-bar-item w3-button w3-mobile w3-lime">Office Space</a>
  <a href="#" style="width:100%" class="w3-bar-item w3-button w3-mobile w3-gray"> </a>
  <a href="/post-ad/convention/" style="width:50%" class="w3-bar-item w3-button w3-mobile w3-teal">Convention Centre</a>
  <a href="#" style="width:100%" class="w3-bar-item w3-button w3-mobile w3-gray"> </a>
  <a href="/post-ad/garage/" style="width:50%" class="w3-bar-item w3-button w3-mobile w3-lime">Garrage</a>

  
</div>




{% endblock %}